main
a.out
local.md

.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
*.pem
tfplan
vm-experiment-logs
vm-logs
vm-syscalls

# c/c++
build
CMakeFiles
cmake_install.cmake
CMakeCache.txt
Makefile
*.cmake
*.o
*.a
*.so
*.dylib
*.dll
*.lib
dummy